<div class="modal-container">
  <div class="modal-content">
    <div class="modal-header">
      <ion-button (click)="dismiss()" class="close-btn">
        <ion-icon name="close"></ion-icon>
      </ion-button>
      <ion-title>Pay the bill</ion-title>
    </div>

    <div class="category-grid">
      <ion-grid>
        <ion-row>
          <ion-col size="6" *ngFor="let cat of categories">
            <div class="category-card">
              <div class="icon-box" [style.background]="cat.color">
                <ion-icon [name]="cat.icon"></ion-icon>
              </div>
              <h4 class="category-title">{{ cat.title }}</h4>
              <p class="category-desc">Lorem ipsum</p>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</div>
