@use "../sign-in/sign-in.page.scss";

.legal-text {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  
  p {
    font-size: 0.95rem;
    color: #64748b;
    line-height: 1.6;
    font-weight: 400;
    
    strong {
      color: #1e293b;
      font-weight: 600;
      cursor: pointer;
    }
  }
}
